
html, body {
	height: 100%;
	background-color: #060d15;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper-full {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}

.site-wrapper,
.map-screen,
.fr-screen,
.perspective {
	transition: ease opacity .75s, ease transform .75s;
}

.site-wrapper {
	display: table;
	width: 100%;
	cursor: pointer;
	padding-top: 50px;
	padding-bottom: 50px;
	@media (min-width: 1024px) {
		padding-top: 0px;
		padding-bottom: 0px;
		height: 50%; /* For at least Firefox */
		min-height: 50%;
		.hidden-text {
			opacity: 0;
			transition: ease-in opacity 1s;
			transition-delay: .5s;
		}
		// &:hover {
		// 	.hidden-text {
		// 		opacity: 1;
		// 	}
		// }
	}
	@media (max-width: 1023px) {
		position: relative;
		&:after {
			content: ' ';
			display: block;
			position: absolute;
			z-index: 1019;
			top:0;
			left:0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.4);
		}
		.site-wrapper-inner {
			position: relative;
			z-index: 1020;
		}
	}
}

.site-wrapper-bottom {
	display: table;
	width: 100%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
	@media (min-width: $grid-float-breakpoint) {
		vertical-align: top;
	}
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.screen-bgr {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.first-screen {
	background-image: url("../img/bgr1_sm.jpg");
	@media (min-width: $grid-float-breakpoint) {
		background-image: url("../img/bgr11.jpg");
	}
}

.second-screen {
	background-image: url("../img/bgr2.jpg");
	//background: transparent;
}

.third-screen {
	background-image: url("../img/bgr3.jpg");
	//background: transparent;
}

.fourth-screen {
	background-image: url("../img/bgr4.jpg");
	//background: transparent;
}

.fifth-screen {
	background-image: url("../img/bgr5.jpg");
	//background: transparent;
}

.sixth-screen {
	background-image: url("../img/bgr6.jpg");
	//background: transparent;
}

.seventh-screen {
	background-color: #060d15;
	background-image: url("../img/bgr7.jpg");
    background-size: 100% auto;
    background-position: top center;
}

.fr-screen {
	background-image: url("../img/bgr_fr.jpg");
}

@media (min-width: $grid-float-breakpoint) {
	.site-wrapper-inner {
		vertical-align: middle;
	}
}
.site-wrapper-footer {
	position: relative;
	overflow: hidden;
	.footer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		p {
			margin-bottom: 30px;
		}
		.text-center {
			p:first-child {
				margin-bottom: 8px;
			}
		}
	}
}