
.tri {
	display: block;
	cursor: pointer;
	width: 30px;
	height: 35px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1020;
	&:before {
		content: ' ';
		position: absolute;
		width: 1px;
		height: 1px;
		box-shadow: 0 0 30px 20px rgba(255,255,255,.6);
		opacity: .8;
		top: 50%;
		left: 40%;
		transition: opacity .2s;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
}
.img-container {
	position: relative;
	box-shadow: 0px 0px 30px 12px rgba(111, 130, 166, 0.2);
	margin-top: 35px;
	&:after {
		content: ' ';
		display: block;
		position: absolute;
		z-index: 1019;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
	}
}
.thumbnail-vr {
	.duration, .js-hide-descr, .game-descr {
		display: none;
	}
	.duration {
		margin: 5px 0 8px 0;
		float: left;
		&:before {
			display: inline-block;
			content: ' ';
			width: 21px;
			height: 21px;
			border-radius: 50%;
			position: relative;
			top: 4px;
			margin-right: 10px;
			background: url(../img/time.svg);
		}
	}
	.game-descr {
		z-index: 1020;
		top: 0;
		left: 0;
		padding-top: 10px;
	}
	&.state-descr {
		h4, .js-show-descr {
			display: none;
		}
		.js-hide-descr, .duration, .game-descr {
			display: block;
		}
		
		.img-container:after {
			background-color: rgba(6, 17, 36, 0.8);
		}
	}
	
}
.descr {
	float: left;
	h4 {
		font-family: "Bebas Neue";
		font-weight: bold;
		font-size: 30px;
		margin-bottom: 0;
	}
	a {
		cursor: pointer;
		margin-right: 20px;
		margin-top: 10px;
		span {
			line-height: 1;
			font-size: 14px;
			border-bottom: 1px dashed #e6edf8;
			transition: all .1s ease;
		}
		&:hover {
			text-decoration: none;
			color: #fff;
			span {
				border-bottom-color: transparent;
			}
		}
	}
}
@media (min-width: $grid-float-breakpoint) {

	.img-container {
		margin-top: 0;
	}
	.thumbnail-vr {
		position: relative;
		float: left;
		margin: 27px;
		.duration {
			margin: 5px 0 0 30px;
		}
		.game-descr {
			position: absolute;
			padding: 30px 20px 40px 30px;
		}
		&.state-descr {
			h4, .tri {
				display: none;
			}
		}
	}
	.descr {
		float: none;
		position: absolute;
		bottom: 26px;
		width: 100%;
		z-index: 1020;
		h4 {
			float: left;
			font-size: 36px;
			margin: 0 0 0 30px;
		}
		a {
			float: right;
		}
	}
	.perspective {
		-webkit-perspective: 450px; /* Chrome, Safari, Opera  */
		perspective: 450px;
	}
	.rotateClockwise {
		-webkit-transform: rotateY(4deg);
		transform: rotateY(4deg);
	}
	.rotateCounterClockwise {
		-webkit-transform: rotateY(-4deg);
		transform: rotateY(-4deg);
	}
	.thumbnail-vr-3 {
		margin-top: 90px;
	}
	.thumbnail-vr-4 {
		margin-top: -40px;
	}
}
.game-btn {
	margin-top: 54px;
	@media (max-width: $grid-float-breakpoint-max) {
		margin-bottom: 35px;
	}
}
.more-games {
	max-height: 0;
	overflow: hidden;
	transition: all .5s ease;
}
.js-game-btn-less {
	display: none;
}
#youtubeModal {
	.modal-dialog {
		// top: 50%;
		// position: relative;
		// -ms-transform: translateY(-50%);
		// -webkit-transform: translateY(-50%);
		// transform: translateY(-50%);
	}
	.modal-body {
		max-height: 506px;
		overflow: hidden;
	}
	.modal-content {
		border: none;
	}
	iframe {
		width: 100%;
		max-height: 506px;
	}
}