
.glitch-text-wraper {
  position: relative;
  @media (min-width: 1024px){
    width: 652px;
    height: 158px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
  }
  
}
.glitch-text {

  @media (min-width: 1024px){
    position: absolute;
  }
  width: 100%;
}
