

@import "_bootstrap";
@import "fonts";
@import "glitch";
@import "cover";

h1, h2 {
  font-family: 'Bebas Neue';
  color: #fff;
}
h1 {
  font-size: 36px;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 72px;
  }
	text-transform: uppercase;
}
.first-screen {
	h1 {
		height: 158px;
		span {
		}
	}
}
h2 {
  font-size: 30px;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 60px;
  }
  &.h2-fr {
    font-size: 36px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 72px;
    }
    font-weight: bold;
  }
}

.wsn {
  white-space: nowrap;
}

p {
	line-height: 1.56;
}
.fz-18 {
	font-size: 18px;

}
@media (max-width: $grid-float-breakpoint-max) {
  #fr .fz-18 {
    font-size: 15px;
  }
}

.fz-15 {
	font-size: 15px;
}
.fwb {
  font-weight: bold;
}
.navbar-nav>li {
  >a {
    span {
      border-bottom: 1px dashed #e6edf8;
      white-space: nowrap;
      position: relative;
    }
  }
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.footer {
  p {
    color: rgba(254, 254, 254, 0.3);
    a {
      text-decoration: underline;
      color: rgba(254, 254, 254, 0.3);
      cursor: pointer;
      &:hover, &:active {
        color: #fefefe;
      }
    }
  }
}
.mouse {
  width: 20px;
  height: 45px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  cursor: pointer;

  svg:nth-child(2) {
    position: absolute;
    left: 6px;
  }
  &:hover svg:nth-child(2),
  &:focus svg:nth-child(2),
  &.active svg:nth-child(2) {
    animation-name: hvr-icon-down;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-out;
  }
}
@keyframes hvr-icon-down {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(6px);
  }
}

.btn-default {
  position: relative;
  span {
    position: relative;
    z-index: 1021;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1020;
    content: '';
    width: 100%;
    height: 0;
    background: #fff;
    transition: height 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  &:hover {
    span {
      color: #000;
    }
    &:after {
      height: 100%;
    }
  }
}

a.blue-link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

@import "game";
@import "map";

#priceModal {
  .modal-content {
    background: #244d9c;
    background: -moz-linear-gradient(top, #244d9c 0%, #122861 100%);
    background: -webkit-linear-gradient(top, #244d9c 0%,#122861 100%);
    background: linear-gradient(to bottom, #244d9c 0%,#122861 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#244d9c', endColorstr='#122861',GradientType=0);
  }
  .modal-body {
    margin: 50px;
  }
  .modal-dialog {
    margin-top: 100px;
  }
  .table>tbody>tr>td {
    padding: 41px 20px;
    white-space: nowrap;
    font-size: 18px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

#navbar, #priceModal {
  .close{
    text-shadow: none;
    color: #fff;
    background: url(../img/close.png) no-repeat left top;
    width: 17px;
    height: 17px;
    position: relative;
    top: -10px;
    &:hover, &:focus {
      color: #fff;
      text-shadow: none;
    }
  }
}
#navbar {
  .close {
    opacity: 1;
    display: none;
    right: 30px;
    top: -40px;
  } 
}

.nav>li>a.title-menu {
  display: none;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-nav>li {
    >a {
      span {
        &:after {
          content: ' ';
          display: block;
          position: absolute;
          width: 0;
          height: 1px;
          background-color: $link-hover-color;
          transition: width .2s;
        }
      }
      &:hover, &:active {
        span {
          border-bottom-color: transparent;
          &:after {
            width: 19px;
          }
        }
      }
    }
    &.active {
      a>span {
          color: #4896ff;
          border-bottom-color: transparent;
          &:after {
            width: 19px;
          }
      }
    }
  }
  .nav>li>a {
    padding-left: 40px;
    padding-right: 40px;
  }
  .nav-center {
    justify-content: center;
    display: flex;
    width: calc(100% - 203px - 160px);
  }
  #game {
    padding-top: 138px;
    padding-bottom: 90px;
  }
}
@media (max-width: $grid-float-breakpoint-max) {

  #navbar .close {
    display: block;
  }
  .navbar-brand {
    position: absolute;
    z-index: 1021;
  }
  .navbar-collapse.in,
  .navbar-collapse.collapsing {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-color: rgba(7, 15, 28, 0.9);
    padding-top: 70px;
    padding-left: 30px;
  }
  .nav>li>a.title-menu {
    display: block;
  }
  .title-menu {
    font-size: 24px;
    font-weight: bold;
  }
  .nav.navbar-nav.navbar-right {
    display: none;
  }
  .mouse {
      svg:first-child {
        opacity: 0;
      }
  }
}
