#address {
	h2 {
		margin-top: 70px;
		@media (min-width: $grid-float-breakpoint) {
			margin-top: 120px;
		}
	}
}
.map-screen {
	position: relative;
	&:after {
		content: ' ';
		position: absolute;
		top:0;
		height: 100%;
		min-height: 200px;
		left: 0;
		right: 0;
		background-color: rgba(7, 15, 28, 0.8);
		z-index: 1019;
		transition: height 0.3s ease;
	}
	&.map-shown {
		&:after {
			height: 0;
		}
	}
}
#map {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.container-address {
	position: relative;
	z-index: 1020;
}

.list-toggle-view {

	@media (min-width: $grid-float-breakpoint) {
		margin-top: 120px;
	}
	li {
		margin-right: 70px;
		margin-top: 16px;
	}
	a {
		font-family: 'Bebas Neue';
		font-weight: bold;
		font-size: 24px;
		text-decoration: none;
		cursor: pointer;
		&:after {
			display: block;
			content: ' ';
			position: relative;
			width: 29px;
			height: 2px;
			background-color: #fff;
			box-shadow: 0 0 5px 3px rgba(56, 120, 255, 0.35);
		}
		&:hover, &:active, &.active {
			color: #4896ff;
			text-decoration: none;
			&:after {
				background-color: #4896ff;
			}
		}
	}
}

.map-descr {
	font-size: 15px;
	color: #c1c6d0;
	svg {
		margin-right: 10px;
	}
}
.col-point {
	margin-top: 50px;
}
.map-price {
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
	span {
		border-bottom: 1px dashed #666c7a;
		position: relative;
		height: 25px;
	}
}