doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")
		link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
		link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")

		link(rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png")

		title VR Park
		link(href="css/main.css" rel="stylesheet")
	body.video(data-video="img/vr_site_5_convert.mp4" data-spy="scroll" data-target="#navbar")
		.navbar-wrapper
			.container
				.navbar.navbar-fixed-top
					.container
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							|
							a.navbar-brand(href='#home')
								img(src="img/logo.svg")
						#navbar.navbar-collapse.collapse
							.close
							ul.nav.navbar-nav.nav-center
								li
									a.title-menu Меню
								li.active
									a(href='#about')
										span О парке
								li
									a(href='#game')
										span Игры
								li
									a(href='#address')
										span Адреса и цены
								li
									a(href='#fr')
										span Франшиза
							ul.nav.navbar-nav.navbar-right
								li.active
									a(href='#') +7 495 540-53-97


		.site-wrapper-full.first-screen.screen-bgr#home
			.site-wrapper-inner
				.cover-container.container
					.row.text-center
						.col-xs-12
							.glitch-text-wraper
								h1.glitch-text Играй<br> в виртуальной реальности
						.col-xs-12
							a.btn.btn-default(href="#about")
								span о парке
					a.mouse.active(href="#game")
						include ../img/mouse_white.svg
						include ../img/arrow.svg

		.site-wrapper.second-screen.screen-bgr#about(data-parallax="no-scroll" data-image-src="img/bgr2.jpg")
			.site-wrapper-inner
				.cover-container
					.container
						.row
							.col-lg-5.col-md-6.col-xs-12
								.text-left
									h2.glitch2-text Полное погружение
									p.hidden-text.fz-15 Мы используем только самые современнные и лицензионные игры, разработанные ведущими производителями игр. В нашей коллекции такие игры как: Fruit Ninja VR, lightblade VR, Theblue, Fancy Skiing VR и множество других.

		.site-wrapper.third-screen.screen-bgr(data-parallax="no-scroll" data-image-src="img/bgr3.jpg")
			.site-wrapper-inner
				.cover-container
					.container
						.row
							.col-lg-5.col-md-6.col-xs-12
								.text-left
									h2.glitch2-text Самые новые<br> и интересные игры
									p.hidden-text.fz-15 Мы используем только самые современнные и лицензионные игры, разработанные ведущими производителями игр. В нашей коллекции такие игры как: Fruit Ninja VR, lightblade VR, Theblue, Fancy Skiing VR и множество других.

		.site-wrapper.fourth-screen.screen-bgr(data-parallax="no-scroll" data-image-src="img/bgr4.jpg")
			.site-wrapper-inner
				.cover-container
					.container
						.row
							.col-lg-5.col-md-6.col-xs-12
								.text-left
									h2.glitch3-text Свобода движения
									p.hidden-text.fz-15 Мы используем только самые современнные и лицензионные игры, разработанные ведущими производителями игр. В нашей коллекции такие игры как: Fruit Ninja VR, lightblade VR, Theblue, Fancy Skiing VR и множество других.

		.site-wrapper.fifth-screen.screen-bgr(data-parallax="no-scroll" data-image-src="img/bgr5.jpg")
			.site-wrapper-inner
				.cover-container
					.container
						.row
							.col-lg-5.col-md-6.col-xs-12
								.text-left
									h2.glitch2-text Удобство и безопасность
									p.hidden-text.fz-15 Мы используем только самые современнные и лицензионные игры, разработанные ведущими производителями игр. В нашей коллекции такие игры как: Fruit Ninja VR, lightblade VR, Theblue, Fancy Skiing VR и множество других.

		.site-wrapper.sixth-screen.screen-bgr(data-parallax="no-scroll" data-image-src="img/bgr6.jpg")
			.site-wrapper-inner
				.cover-container
					.container
						.row
							.col-lg-5.col-md-6.col-xs-12
								.text-left
									h2.glitch2-text Самое современное<br> оборудование
									p.hidden-text.fz-15 Мы используем только самые современнные и лицензионные игры, разработанные ведущими производителями игр. В нашей коллекции такие игры как: Fruit Ninja VR, lightblade VR, Theblue, Fancy Skiing VR и множество других.

		.site-wrapper-bottom.seventh-screen.screen-bgr#game
			.site-wrapper-inner
				.cover-container
					.container
						.row
							.col-md-5.col-lg-6
								.text-left
									h2.glitch2-text Игры
									p.fz-18 VR PARK предоставляет уникальную возможность полного погружения в виртуальный игровой мир: прикоснитесь к параллельной реальности, которорая подарит невероятные эмоции и незабываемые впечатления
							.col-md-7.col-lg-6.perspective
								#thumbnail-vr-1.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-space-pirate.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="fGcJmrb97io")
											include ../img/tri.svg
									p.game-descr Space Pirate trainer является своего рода космическим тиром, в котором игрок должен выполнять два основных действия – целиться и стрелять. Позади вас стоит большой космический корабль, который пытаются захватить противники. Огромное небо, полное прекрасных звезд ещё больше погружает в игру.
									.descr
										h4 Space Pirate trainer
										span.duration От 10 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть



						.row
							.col-xs-12.col-md-7.perspective
								.thumbnail-vr-2.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-theblu.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="KdOUyHXwWiU")
											include ../img/tri.svg
									p.game-descr Глубокий и бездонный океан, полный загадок, тайн и морских жителей. Удивитесь величием океана, осмотрите все среды обитания, встретьтесь лицом к лицу с подводными жителями, изучите необычные виды морских обитателей планеты. В первом эпизоде, вам предстоит встреча лицом к лицу с 80-ти фунтовым китом. В дальнейших эпизодах вы плаваете у коралловых рифов на самых глубоких участках океана. 
									.descr
										h4 Theblue
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-jobsimulator.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="jXkQlqKw_9Y")
											include ../img/tri.svg
									p.game-descr Попав в будущее, где роботы сменили людей в любой работе, окунись в мир 'Имитатора работы', чтобы понять, каковó было раньше 'работать'. Игроки смогут пережить заново золотой рабочий век, познавая имитированные детали работы шеф-повара изысканного ресторана, офисного работника, продавца магазина и многих других профессий.
									.descr
										h4 Job Simulator
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-offset-1.col-md-6.col-lg-offset-2.col-lg-5.perspective
								.thumbnail-vr-4.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-fruit.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="ot9AZZ84F-0")
											include ../img/tri.svg
									p.game-descr Fruit ninja - популярная игра, в которой Вы должны разрубить как можно больше фруктов за отведенное время. Избегайте бомб, которые снимают по несколько секунд с таймера. Следи за особыми фруктами, разрубив которые, ты получишь уникальные возможности.
									.descr
										h4 Fruit Ninja
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

						.row.more-games
							.col-xs-12.col-md-7.perspective
								.thumbnail-vr-2.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-audio.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="8yRKgxy8AMY")
											include ../img/tri.svg
									p.game-descr Audioshield — игра, основанная на вашей любимой музыке. По ходу игры пользователь будет находиться на одном месте, удерживая оранжевый щит в одной руке и синий щит в другой и отбиваясь ими от музыкальных шаров соответствующего цвета. 
									.descr
										h4 Audioshield
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть
							
							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-bomb.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="-Ohgowy_RjM")
											include ../img/tri.svg
									p.game-descr Bomb U - очаровательная казуальная игра на ловкость и реакцию. Вам потребуется защищать свои земли от разрушения. Ваш противник будет закидывать вас бомбами, которые вы должны отбивать.
									.descr
										h4 Bomb U
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-offset-1.col-md-6.col-lg-offset-2.col-lg-5.perspective
								.thumbnail-vr-4.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-cyberpong.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="iumRBVFzYhY")
											include ../img/tri.svg
									p.game-descr Cyberpong vr – это некая игра в понг, но в футуристической манере, подходит для игры от первого лица и переносит вас в полную виртуальную реальность. Вам нужно быстро и четко отбивать все летящие на вас шарики, а за каждый удачный удар быстро разрушать блоки, которые расположены на противоположной стороне.
									.descr
										h4 Cyberpong VR
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-serious-sam.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="e4Ao-iNPPUc")
											include ../img/tri.svg
									p.game-descr Serious Sam VR: The First Encounter – шутер от первого лица. Главный герой Сэм Стоун по прозвищу Крутой Сэм. События происходят в XXII, где Земля вступила в войну с инопланетянами с Сириуса под предводительством Ментала. Люди заперты на планете и почти проиграли. Задача Сэма – отправиться в прошлое и нанести поражения пришельцам.
									.descr
										h4 Serious Sam VR: The First Encounter
										span.duration От 10 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-7.perspective
								.thumbnail-vr-2.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-fancy-skiing.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="4bEQKsmX3wo")
											include ../img/tri.svg
									p.game-descr Fancy Skiing VR базируется на настоящих катаниях на лыжах. Игрокам предстоит использовать контроллеры как лыжные палки, чтоб получить дееспособность наклоняться и контролировать направление. Чем быстрее Вы будете ехать, тем больше очков сможете набрать. Но не забудьте преодолевать препятствия и избегать столкновения с оленями. 
									.descr
										h4 Fancy Skiing VR
										span.duration От 7 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть
							
							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-holopoint.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="-Fu78QNgxi4")
											include ../img/tri.svg
									p.game-descr Holopoint – это игра не для ленивых! Здесь вам придется активно двигаться, прыгать, скакать и приседать. Вам предстоит бесконечная стрельба из лука по специальным мишеням. Вас ожидают целые волны мишеней из прозрачных геометрических фигур, затем опасных самураев и ниндзя. Следите за всем вокруг и стреляйте как можно быстрее.
									.descr
										h4 Holopoint
										span.duration От 10 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-offset-1.col-md-6.col-lg-offset-2.col-lg-5.perspective
								.thumbnail-vr-4.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-funhouse.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="GGbCk4DAq1w")
											include ../img/tri.svg
									p.game-descr Funhouse — это казуальная игра, в которой Вы можете поучаствовать сразу в нескольких цирковых аттракционах.  Вам предстоит окунуться в атмосферу настоящего парка, полного игр и веселья. Поменяйте пистолет с аттракциона на автомат, подожгите волосы кротам или создайте собственную мини игру в виртуальной реальности. 
									.descr
										h4 Funhouse
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть



							
							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-raw-data.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="-pBbU8wJFPs")
											include ../img/tri.svg
									p.game-descr Raw Data - это аркадный шутер. В процессе игры, игрок должен украсть ценные бумаги и данные и некой транснациональной компании Eden Corporation, которая правит миром. На пути по выискиванию необходимых данных, вам придется сразиться с толпами андроидов и людьми. 
									.descr
										h4 Raw Data
										span.duration От 15 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-7.perspective
								.thumbnail-vr-2.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-old-friend.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="ml_9nNZoj8k")
											include ../img/tri.svg
									p.game-descr Old friend - чрезвычайно радостный мир, где только танцуют. Посмотрите на жизнерадостных жителей этой планеты и повторяйте движения. Раскройте свои таланты, двигайтесь как можно нелепее и никого не стесняйтесь. 
									.descr
										h4 Old friend
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть
							

							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-lightblade.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="cc0-CcHLwv4")
											include ../img/tri.svg
									p.game-descr Ваш персонаж в игре, находится на борту космического корабля. Он проходит обучение джедайскому искусству при помощи специального робота. Его невозможно обмануть, поэтому придется выполнять все задания, которые он приготовил. Робот стреляет в вас магическими шариками, которые нужно отбивать. Это настоящая тренировка силы воли и ловкости истинного джедая.
									.descr
										h4 Lightblade VR
										span.duration От 6 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							.col-xs-12.col-md-offset-1.col-md-6.col-lg-offset-2.col-lg-5.perspective
								.thumbnail-vr-4.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-the-brookhaven.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="e4Ao-iNPPUc")
											include ../img/tri.svg
									p.game-descr The Brookhaven Experiment – это новый, интригующий и будоражащий кровь шутер. Вы переноситесь в темный мир, перед вами множество страшных зомби, которые хотят разорвать вас на кусочки. Ваша цель как можно дольше защищаться от них и убить максимально большое количество нападающих.
									.descr
										h4 The Brookhaven Experiment
										span.duration От 15 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть



							.col-xs-12.col-md-7.perspective
								.thumbnail-vr-2.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-the-lab.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="djw5ZAXqccM")
											include ../img/tri.svg
									p.game-descr The Lab – это набор мини-игр. В целом игры никак не связаны, в них предстоит защищать замок стреляя из лука, запускать роботов из рогатки, просто любоваться пейзажами, кидая палку собаке-роботу, управлять небольшим космическим кораблём, уворачиваясь от атак и много чего ещё.
									.descr
										h4 The Lab
										span.duration От 7 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть


							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-waltz.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="CHuhFC5cqzY")
											include ../img/tri.svg
									p.game-descr Сварите в котле волшебные компоненты и с помощью древнего духа получите магическую силу. Затем раскройте свои творческие или разрушительные волшебные способности в полностью интерактивном виртуальном мире. Опыт вдохновлен атмосферой таких фильмов, как "Фантазия" и "Гарри Поттер".
									.descr
										h4 Waltz of the Wizard
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

							//- .col-md-offset-1.col-md-6.col-lg-offset-2.col-lg-5.perspective
							//- 	.thumbnail-vr-4.thumbnail-vr.rotateClockwise
							//- 		img.img-responsive(src="img/game-unbreakable.jpg")
							//- 		a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="_zeBX6rx3PE")
							//- 			include ../img/tri.svg
							//- 		p.game-descr Добро пожаловать во вселенную Fruit Ninja! Рубите фрукты, летящие в вас со всех сторон, только смотрите - не заденьте бомбу! А если вам наскучила двухмерная картинка, отправляйтесь осваивать новое измерение: рубить, колоть и резать в режиме виртуальной реальности.
							//- 		.descr
							//- 			h4 Fruit Ninja
							//- 			span.duration От 5 мин
							//- 			a.js-show-descr
							//- 				span Описание
							//- 			a.js-hide-descr
							//- 				span Свернуть

							.col-xs-12.col-md-7.perspective
								.thumbnail-vr-2.thumbnail-vr.rotateClockwise
									.img-container
										img.img-responsive(src="img/game-sefietennis.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="")
											include ../img/tri.svg
									p.game-descr Симулятор #SelfieTennis – создан для тех, кто не любит играть с соперником или роботом, а предпочитает вести сражение с самим собой, тренируя свои навыки и «набивая» руку. Проводите увлекательные партии, общайтесь с человеком-мячом,  веселитесь от души и отдыхайте, все это в одной незатейливой игре с простым сюжетом и правилами. 
									.descr
										h4 #SelfieTennis
										span.duration От 5 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть


							.col-xs-12.col-md-5.col-md-offset-0.col-lg-4.col-lg-offset-1.perspective
								.thumbnail-vr-3.thumbnail-vr.rotateCounterClockwise
									.img-container
										img.img-responsive(src="img/game-vanish.jpg")
										a.tri(data-toggle="modal" data-target="#youtubeModal" data-youtube="nJEKnYskPJg")
											include ../img/tri.svg
									p.game-descr Vanishing Realms – это невероятно захватывающая ролевая игра. Играть можно один на один, используя свои движения, чтобы контролировать весь процесс боя. Сражайтесь с противниками, применяйте новые движения, навыки, приемы. Вам придется действительно много двигаться, чтобы победить и выполнить все заявленные действия, все происходит действительно так, как будто вы находитесь прямо в игре.
									.descr
										h4 Vanishing Realms
										span.duration От 30 мин
										a.js-show-descr
											span Описание
										a.js-hide-descr
											span Свернуть

						.row
							.col-xs-12.text-center
								.btn.btn-default.game-btn.js-game-btn-more
									span Показать еще
								.btn.btn-default.game-btn.js-game-btn-less
									span Показать меньше
		
		.site-wrapper-full.map-screen.screen-bgr#address
			#map
			.container.container-address
				.row.map-first-row
					.col-lg-3.col-md-4.text-left
						h2.glitch2-text Адреса

					.col-lg-9.col-md-8
						ul.list-inline.list-toggle-view
							li
								a.active.js-hide-map Список
							li 
								a.js-show-map Карта
				.row.list-point
					.col-md-4.col-lg-3.col-point
						h3 ТЦ Авиапарк
						p.map-descr
							include ../img/metro.svg
							| Динамо, Полежаевская<br>г. Москва, ул.<br>Ходынский бульвар, д.4<br>3 этаж, рядом с фудкортом
						a.map-price(data-toggle="modal" data-target="#priceModal")
							span ЦЕНЫ

					//- .col-md-4.col-lg-3.col-point
					//- 	h3 ТЦ Авиапарк
					//- 	p.map-descr
					//- 		include ../img/metro.svg
					//- 		| Динамо, Полежаевская<br>г. Москва, ул.<br>Ходынский бульвар, д.4<br>3 этаж, рядом с фудкортом
					//- 	a.map-price
					//- 		span ЦЕНЫ

					//- .col-md-4.col-lg-3.col-point
					//- 	h3 ТЦ Авиапарк
					//- 	p.map-descr
					//- 		include ../img/metro.svg
					//- 		| Динамо, Полежаевская<br>г. Москва, ул.<br>Ходынский бульвар, д.4<br>3 этаж, рядом с фудкортом
					//- 	a.map-price
					//- 		span ЦЕНЫ

					//- .col-md-4.col-lg-3.col-point
					//- 	h3 ТЦ Авиапарк
					//- 	p.map-descr
					//- 		include ../img/metro.svg
					//- 		| Динамо, Полежаевская<br>г. Москва, ул.<br>Ходынский бульвар, д.4<br>3 этаж, рядом с фудкортом
					//- 	a.map-price
					//- 		span ЦЕНЫ

		.site-wrapper-full.fr-screen.screen-bgr#fr.site-wrapper-footer
			.site-wrapper-inner
				.container
					.cover-container
						.container
							.text-center
								.glitch-text-wraper
									h2.glitch-text.h2-fr Создайте свой VR PARK
								p.fz-18.fwb По вопросам сотрудничества и открытия новых квестов вы можете<br class="hidden-xs hidden-sm"> позвонить нам по телефону <a href="tel:+7 495 540-53-97" class="wsn">+7 495 540-53-97</a> или написать по адресу<br> <a class="blue-link" href="mailto:franchise@cityquest.ru">franchise@cityquest.ru</a>

					.container.footer
						.text-center.hidden-md.hidden-lg
							p © 2014-2017 CITYQUEST
							p Дизайн <a class="" href="">COME ON DESIGN</a>
						.pull-left.hidden-xs.hidden-sm
							p © 2014-2017 CITYQUEST
						.pull-right.hidden-xs.hidden-sm
							p Дизайн <a class="" href="">COME ON DESIGN</a>

		#youtubeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='youtubeModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-body
		
		#priceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='priceModalLabel')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-body
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
						h3 ТЦ Авиапарк
						.table-responsive
							table.table
								tr
									td
									td.text-right 5 мин                                    
									td.text-right 10 мин
									td.text-right 30 мин
									td.text-right 60 мин
								tr
									td.text-left Пн–Пт
									td.text-right 300 руб
									td.text-right 400 руб
									td.text-right 800 руб
									td.text-right 1300 руб
								tr 
									td.text-left
										| Сб–Вс<br>
										small + праздничные дни
									td.text-right 350 руб
									td.text-right 450 руб
									td.text-right 1000 руб
									td.text-right 1500 руб




		script(type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAJH0jhUnIwe0_OAqdai4zM1_k1M559cv4")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="js/mgGlitch.min.js")
		script(src="js/glitch.jquery.js")
		script(src="js/parallax.min.js")
		script(src="js/main.js")
		//- script(src="../../assets/js/ie10-viewport-bug-workaround.js")